**/*.map
**/*.min.css
**/*.min.js
package.json
yarn.lock
.github
.jekyll-cache
.devcontainer
.prettierrc
.gitignore
.gitattributes
.pre-commit-config.yaml
compose.yml
Dockerfile
Gemfile
Gemfile.lock
LICENSE.txt
README.md
