{% assign lang = site.active_lang %}
<header class="px-2 clearfix header-sticky">
  <div class="left py-1 mt-1 mt-lg-0">
    <a class="link-primary text-accent" href="{{ site.baseurl }}/">
      {{ site.greet[lang] }}, {{ site.user_name }}
    </a>
  </div>
  <nav class="right py-1 mt-1 mt-lg-0">
    <ul class="list-reset mt-lg-1 mb-2 mb-lg-1">
      {% for page in site.pages %}
        {% if page.title and page.lang == lang %}
        <li class="inline-block">
          <a class="link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
      {% include theme-toggle.html class="inline-block align-top ml-2" %}
    </ul>
  </nav>
</header>
