<head>
  {% assign lang = site.active_lang %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title and site.title %}{{ page.title | escape }} | {{ site.title[lang] | escape }}{% else %}{{ site.title[lang] | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[lang] }}{% endif %}">

  {% assign user_url = site.url | append: site.baseurl %}
  {% assign full_base_url = user_url | default: site.github.url %}
  <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: full_base_url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[lang] }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="{{ site.baseurl }}/assets/js/theme-toggle.js"></script>
  {% for lang in site.languages %}
  {% capture lang_href %}{{site.baseurl}}/{% if lang != site.default_lang %}{{ lang }}/{% endif %}{% if page.permalink_lang[lang] != '/' %}{{page.permalink_lang[lang]}}{% endif %}{% endcapture %}
  <link rel="alternate" hreflang="{{ lang }}" {% static_href %}href="{{ lang_href }}"{% endstatic_href %} />
  {% endfor %}
</head>
