$white: #f5f5f5;

$red: #e74727;
$blue: #009ddb;
$yellow: #fec92e;
$magenta: #cd2da8;
$black: #181818;
$mint: #26dab7;
$mint-dark: #1eae91;
$orange: #fa8224;
$orange-dark: #df6d16;

$red-dark: #dc3918;
$blue-dark: #007ab3;
$gray: #45474a;

// Theme definition mixin
@mixin define-theme($name, $background, $foreground, $title, $text, $accent, $code) {
  .theme-#{$name} {
    --icon-fill: #{$foreground};
    --icon-fill-hover: #{$accent};
    --color-foreground: #{$foreground};
    --color-background: #{$background};
    --color-dot-accent: #{$accent};
    --color-text-accent: #{$accent};
    --color-primary-link: #{$accent};
    --color-nav-link: #{$accent};
    --color-code: #{$code};
    --color-title: #{$title};
    --color-body-text: #{$text};
  }
}

// Dark themes
@include define-theme("black", $black, $white, $white, $white, $red-dark, $red);
@include define-theme("yellow", $black, $white, $white, $white, $yellow, $yellow);
@include define-theme("dark-mint", $black, $white, $white, $white, $mint, $mint-dark);
@include define-theme("orange", $black, $white, $white, $white, $orange, $orange-dark);

// Light themes
@include define-theme("light", $white, $black, $black, $black, $red-dark, $red);
@include define-theme("blue", $white, $black, $black, $black, $blue, $blue-dark);
@include define-theme("mint", $white, $black, $black, $black, $mint, $mint-dark);
@include define-theme("magenta", $white, $black, $black, $black, $magenta, $magenta);
