<!DOCTYPE html>
<html>

  {% include head.liquid %}
  <body>
    <div class="site-wrapper">
      <div class="site-content">
        {% include header.liquid %}
        {{ content }}
      </div>
      {% include footer.liquid %}
    </div>
  </body>
</html>
