/* Type utilities */
@use "variables";
@import "https://unpkg.com/open-props/easings.min.css";

$breakpoint-lg: 1440px;
$breakpoint-md: 1080px;
$breakpoint-sm: 768px;
$breakpoint-xs: 480px;

.h0 {
  font-size: var(--h0-mobile);
  line-height: 1.0125;
  margin-top: 0.85em;
  word-wrap: break-word;

  @media (min-width: #{$breakpoint-md}) {
    font-size: var(--h0-desktop);
  }
}

.text-right {
  text-align: right;
}

.no-underline {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.lh-condensed {
  line-height: 1.25;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

/* Border utilities */
.border-bottom-thick {
  border-bottom: 2px solid;
  border-color: currentColor;
}

.border-bottom-thin {
  border-bottom: 1px solid;
  border-color: currentColor;
}

.border-top-thick {
  border-top: 2px solid;
  border-color: currentColor;
}

.border-top-thin {
  border-top: 1px solid;
  border-color: currentColor;
}

.border-0 {
  border: 0;
}

/* Theme color utilities */
.header-background {
  background-color: var(--color-background);
}

.header-border {
  border-color: var(--color-foreground);
}

.header-title {
  color: var(--color-title);
}

.header-text {
  color: var(--color-foreground);
}

.header-social {
  fill: var(--color-foreground);
}

.header-social-accent {
  fill: var(--color-dot-accent);
}

.header-link:hover {
  color: var(--color-nav-link) !important;
}

// used for navigation links on homepage
.header-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
}

.text-accent {
  color: var(--color-text-accent);
  fill: var(--color-text-accent);
}

// used for date in post list and home link
.text-color {
  color: var(--color-body-text);
  fill: var(--color-body-text);
}

// used for date in post list and home link

.front-cover {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

/* Layout utilities */
.container {
  max-width: var(--container-width);
}

.col-1 {
  width: calc((1 / 12 * 100%));
}

.col-2 {
  width: calc((2 / 12 * 100%));
}

.col-3 {
  width: calc((3 / 12 * 100%));
}

.col-4 {
  width: calc((4 / 12 * 100%));
}

.col-5 {
  width: calc((5 / 12 * 100%));
}

.col-6 {
  width: calc((6 / 12 * 100%));
}

.col-7 {
  width: calc((7 / 12 * 100%));
}

.col-8 {
  width: calc((8 / 12 * 100%));
}

.col-9 {
  width: calc((9 / 12 * 100%));
}

.col-10 {
  width: calc((10 / 12 * 100%));
}

.col-11 {
  width: calc((11 / 12 * 100%));
}

.col-12 {
  width: 100%;
}

@media (max-width: #{$breakpoint-sm}) {
  .sm-width-full {
    width: 100% !important;
  }
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.flex {
  display: flex !important;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-center {
  align-items: center !important;
}

.table {
  display: table !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.align-middle {
  vertical-align: middle;
}

.align-top {
  vertical-align: top;
}

/* Padding */
.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-1 {
  padding-left: var(--spacer-1);
  padding-right: var(--spacer-1);
}

.py-1 {
  padding-top: var(--spacer-1);
  padding-bottom: var(--spacer-1);
}

.px-2 {
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
}

.py-2 {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
}

.px-3 {
  padding-left: var(--spacer-3);
  padding-right: var(--spacer-3);
}

.py-3 {
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer-3);
}

.px-4 {
  padding-left: var(--spacer-4);
  padding-right: var(--spacer-4);
}

.py-4 {
  padding-top: var(--spacer-4);
  padding-bottom: var(--spacer-4);
}

/* Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mt-1 {
  margin-top: var(--spacer-1);
}

.mr-1 {
  margin-right: var(--spacer-1);
}

.mb-1 {
  margin-bottom: var(--spacer-1);
}

.ml-1 {
  margin-left: var(--spacer-1);
}

.mt-2 {
  margin-top: var(--spacer-2);
}

.mr-2 {
  margin-right: var(--spacer-2);
}

.mb-2 {
  margin-bottom: var(--spacer-2);
}

.ml-2 {
  margin-left: var(--spacer-2);
}

.mt-3 {
  margin-top: var(--spacer-3);
}

.mr-3 {
  margin-right: var(--spacer-3);
}

.mb-3 {
  margin-bottom: var(--spacer-3);
}

.ml-3 {
  margin-left: var(--spacer-3);
}

.mt-4 {
  margin-top: var(--spacer-4);
}

.mr-4 {
  margin-right: var(--spacer-4);
}

.mb-4 {
  margin-bottom: var(--spacer-4);
}

.ml-4 {
  margin-left: var(--spacer-4);
}

// Responsive margin
@media (min-width: 52em) {
  .mx-lg-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .mt-lg-0 {
    margin-top: 0;
  }

  .mr-lg-0 {
    margin-right: 0;
  }

  .mb-lg-0 {
    margin-bottom: 0;
  }

  .ml-lg-0 {
    margin-left: 0;
  }

  .mt-lg-1 {
    margin-top: var(--spacer-1);
  }

  .mr-lg-1 {
    margin-right: var(--spacer-1);
  }

  .mb-lg-1 {
    margin-bottom: var(--spacer-1);
  }

  .ml-lg-1 {
    margin-left: var(--spacer-1);
  }

  .mt-lg-2 {
    margin-top: var(--spacer-2);
  }

  .mr-lg-2 {
    margin-right: var(--spacer-2);
  }

  .mb-lg-2 {
    margin-bottom: var(--spacer-2);
  }

  .ml-lg-2 {
    margin-left: var(--spacer-2);
  }

  .mt-lg-3 {
    margin-top: var(--spacer-3);
  }

  .mr-lg-3 {
    margin-right: var(--spacer-3);
  }

  .mb-lg-3 {
    margin-bottom: var(--spacer-3);
  }

  .ml-lg-3 {
    margin-left: var(--spacer-3);
  }

  .mt-lg-4 {
    margin-top: var(--spacer-4);
  }

  .mr-lg-4 {
    margin-right: var(--spacer-4);
  }

  .mb-lg-4 {
    margin-bottom: var(--spacer-4);
  }

  .ml-lg-4 {
    margin-left: var(--spacer-4);
  }
}

.about {
  @media (min-width: #{$breakpoint-md}) {
    display: flex;

    .graphs {
      margin-left: 2rem;
    }
  }
}

// Link styles for social icons
.link-social {
  text-decoration: none;
  font-weight: bold;
  line-height: 1;

  &:hover {
    text-decoration: none !important;
  }
}

// Link styles for navigation
.link-primary {
  font-weight: bold;
  text-decoration: none !important;

  &:hover {
    color: var(--color-primary-link);
    text-decoration: none !important;
  }
}

.bluesky {
  font-size: 11px;
  font-weight: bold;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
  line-height: inherit;
  border: 0px solid black;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  cursor: pointer;
  touch-action: manipulation;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 139, 254);
  padding: 8px 10px;
  border-radius: 999px;
  gap: 6px;
  height: 22px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

#github > span {
  display: flex !important;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  flex-shrink: 0;
  background-color: var(--color-foreground);
  color: var(--color-background);
  .language-menu {
    margin-bottom: 2px;
  }

  &.inverted {
    background-color: var(--color-background);
    color: var(--color-foreground);
    a {
      &::before {
        background-color: var(--color-foreground) !important;
      }
      &:is(.language-menu a) {
        &::before {
          background-color: var(--color-background) !important;
        }
      }
    }
  }
  a {
    &:not(.bluesky):not(.no-underline) {
      color: inherit;
      text-decoration: none !important;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-background);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-text-accent);
        transition: width 400ms;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &:is(.language-menu a) {
      &::before {
        background-color: var(--color-foreground) !important;
      }

      &:is(.selected) {
        font-weight: bold;

        &::after {
          width: 100%;
        }
      }
    }
  }
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

.theme-toggle {
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 24px;
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition:
      transform 0.5s var(--ease-elastic-4),
      opacity 0.5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: 0.15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
  }
}
