---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <h1 class="h0 py-4 mt-3">{{ page.headline }}</h1>
  </header>
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="about">
    <div class="prose mb-4 py-4">
      {{ content }}
    </div>
    <div class="graphs">
      {% assign title = "The stack I use" %}
      {% assign array = site.stack_items %}
      {% include bar_graph.html title=title array=array %}
      {% assign title = "And I can speak" %}
      {% assign array = site.user_languages %}
      {% include bar_graph.html title=title array=array %}
    </div>
  </div>
</article>
